<form action="/local/{{comment._id}}/newComment" method="POST">
{{!-- {{else}}
  <form action="/local" method="POST">
{{/if}} --}}

  <div class="form-group form-comment-m">
    <label><p class="p-comment">Comment title</p></label>
    <input type="text" class="form-control {{#if errors.title }}is-invalid{{/if}}" name="title" value="{{comment.title}}"
      placeholder="Enter comment title">

    {{#if errors.title }}
    <div class="invalid-feedback">
      {{errors.title}}
    </div>
    {{/if}}
  </div>

  <div class="form-group form-comment">
    <label><p class="p-comment">Comment content</p></label>
      <textarea type="text" class="form-control {{#if errors.content }}is-invalid{{/if}}" name="comment" value="{{comment.comment}}"
      ></textarea>

    {{#if errors.content }}
    <div class="invalid-feedback">
      {{errors.content}}
    </div>
    {{/if}}
  

  <div class="d-flex-m">
    <button type="submit" class="btn btn-primary mr-3">Save</button>
    <a class="btn btn-secondary" href="/{{local._id}}">Back</a>
  </div>
  </div>
