 <div class="card mb-3">

  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{ local.thumbnailUrl }}" class="card-img" alt="{{ local.name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ local.name }}</h5>
        <p class="card-text">{{ local.address }}</p>

        <div class="d-flex">
          <a href="/local/{{local._id}}/edit" class="btn btn-sm btn-success text-white mr-3">Edit Local</a>

          <form action="/local/{{local._id}}/delete" method="GET">
            <button type="submit" class="btn btn-danger btn-sm text-white mr-3">
              Delete Local
            </button>
          </form>

        </div>

        <hr/>
      </div>
    </div>
  </div>
</div>

<!-- form comments -->

{{#if errors}}
  <div class="alert alert-danger" role="alert">
    review the form data
  </div>
{{/if}}

{{!-- {{#if comment.isNew}} --}}
  <form action="{{local._id}}/comments" method="POST">
{{!-- {{else}}
  <form action="/local" method="POST">
{{/if}} --}}

  <input type="hidden" name="place" value="{{comment.place}}"/>

  <div class="form-group">
    <label>Comment title</label>
    <input type="text" class="form-control {{#if errors.title }}is-invalid{{/if}}" name="title" value="{{comment.title}}"
      placeholder="Enter comment title">

    {{#if errors.title }}
    <div class="invalid-feedback">
      {{errors.title}}
    </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label>Comment content</label>
    <textarea class="form-control {{#if errors.content }}is-invalid{{/if}}"
      name="content">{{comment.content}}</textarea>
  
    {{#if errors.content }}
    <div class="invalid-feedback">
      {{errors.content}}
    </div>
    {{/if}}
  </div>

  <div class="d-flex">
    <button type="submit" class="btn btn-primary mr-3">Add comment</button>
    <a class="btn btn-secondary" href="/place/{{comment.place}}">Back</a>
  </div>
</form>

        {{#each comments as |comment|}}
          <h3>{{comment.title}}</h3>
          <p>{{comment.content}}</p><hr></hr>
        {{/each}}
 
      
