<div class="row justify-content-md-center container-main">
  <div class="col-xs-12 col-sm-12 col-md-4 div-formEdit">
   {{#if local.isNew}}
    <form action="/local" method="POST">
    {{else}}
    <form action="/local/{{local._id}}" method="POST">
   {{/if}} 
      <div class="all-form">
          <label class="custom-file-l" for="nombre"><p>Name</p></label>
          <input type="text" class="div-input" name="name" value="{{local.name}}">
          <label class="custom-file-l" for="address"><p>Address</p></label>
          <input type="text" class="div-input" name="address" value="{{local.address}}">
          <label class="custom-file-l" for="phone"><p>Phone</p></label>
          <input type="number" class="div-input" name="phone" value="{{local.phone}}">
          <label class="custom-file-l" for="latitud"><p>Latitude</p></label>
          <input type="number" class="div-input" name="lat" value="{{local.location.lat}}">
          <label class="custom-file-l" for="longitud"><p>longitude</p></label>
          <input type="number" class="div-input" name="lng" value="{{local.location.lng}}">
          {{!-- <input type="text" class="cat"> --}}
        <div class="div-localType">
        <label class="custom-file-l" for=""><p>Category</p></label>
        <select name="food" id="">
            {{#each foods as |food|}}
            <option value="{{food}}" {{#hasCategory ../local.category.food food}} selected{{/hasCategory}}>{{food}}</option>
            {{/each}}
        </select>
        <select name="music" id="">
          {{#each musics as |music|}}
          <option value="{{music}}"{{#hasCategory ../local.category.music music}} selected {{/hasCategory}}>{{music}}</option>
          {{/each}}
        </select>
        </div>
        <div class="div-localType">
          <label class="custom-file-l" for="phone"><p>localType</p></label>
          <select name="localType" id="">
            {{#each places as |place|}}
            <option value="{{place}}"{{#hasCategory ../local.localType place}} selected {{/hasCategory}}>{{place}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-block boton-create">Create</button>
      </div>
    </form>
  </div>
</div>