<h1>Hola Viernes</h1>
<div>
    <ul class="list-group">
    {{#each arrLocales as |local|}}
      <a href="/local/{{local._id}}">
        <li class="list-group-item">
           Nombre: {{local.name}}<br>
        Dirección{{local.address}}<br>
        Teléfono{{local.phone}}<br>
        Mail: {{local.userEmail}}<br>
      {{!-- Categoría {{local.category}}<br> --}}
        Tipo: {{local.localType}}
        </li>
      </a>
    {{/each}}
    </ul>
</div>
<a href="local/create">Add a place</a>